body{
    margin: 0px;
    background-color: #060D1E;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes img {
    from {scale: 0.3;}
    to {scale: 1}
}

#card{
    animation-name: img;
    animation-duration: 2s;
    scale: 1;
}

img{
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 8.2vw;
}

.white{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text{
    font-size: 4vw;
}

.text-2{
    font-size: 2vw;
}

.fun-fact{
    width: 90%;
}

.congrats{
    color: white;
    margin-bottom: 0;
}

span{
    font-size: 6.2vw;
}

p{
    margin: 0;
}

.congrats-2{
    display: flex;
    justify-content: center;
}

.c1{
    color: #245BBC;
}

.c2{
    color: #F0C02C;
}

.credits{
    color: white;
    font-size: 2vw;
}

button{
    background-color: #245BBC;
    border-radius: 2vw;
    border: none;
    padding: 2vw 3vw;
    color: #F0C02C;
    font-weight: 600;
    font-size: 2vw;
    cursor: pointer;
}

video{
    scale: 1.29;
    margin: 8vw 0vw;
    animation-delay: 20s;
    animation-name: animate;
    animation-duration: 4s;
}


.scaleback{
    scale: 1;
    margin: 0;
}

@keyframes animate {
    from {scale: 1.29; margin: 8vw 0vw;} 
    to {scale: 1; margin: 0}
}